.setsail-message {
  display: flex;
  flex-direction: column;
  .message-item {
    // margin-top: 25px;
    padding: 8px;
    .setsail-message-context {
      display: inline-block;
      padding: $message-content-padding;
      // background-color: $message-background;
      min-width: 150px;
      position: relative;
      border-radius: 5px;
      box-shadow: $message-shadow;
      font-size: 14px;
      .message-close {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: $message-content-font-size;
      }
    }
  }
  .message-success {
    background-color: $message-success-background;
  }
  .message-error {
    // background-color: #1890FF;
    background-color: $message-error-background;
  }
  .message-info {
    background-color: $message-info-background;
  }
  .message-warning {
    background-color: $message-warning-background;
  }
}